<body>
    <h2> Add Exam</h2>
    <label>Student Registration Number</label>
    <input id="student_registration_number"></input><br>
    <label>Student Name</label>
    <input id="student_name"></input><br>
    <label>Exam Date</label>
    <input id="exam_date" placeholder="12-21-2022"></input><br>
    <label>Course</label>
    <input id="course"></input><br>
    <label>Module</label>
    <input id="module"></input><br>
    <label>Exam-Questions (upload a csv file containing questions as per the below format)</label>
    <input type="file" id="exam"></input><br>
    <button onclick="add_exam()">Add</button>
    <button onclick="cancel()">Cancel</button>
    <br><br>
    <h4> FORMAT </h4>
    <pre>
course_name,course_code,module,topic,question,option1,option2,option3,option4,answer
Pyhton,py101,module-1,Introduction,what is IDLE?,i know,i don't know,guess,no idea,Integrated Development Learning Enviourment
Pyhton,py101,module-2,Basics,what is compiler?,i know,i don't know,guess,no idea,human code to machine code
    </pre>
    <script>
        var token = window.localStorage.getItem('token')
        function add_exam() {
            var data = {
                // Enrollment_number: $('#enrollment_number').val(),
                registration_number: $('#student_registration_number').val(),
                Student_Name: $('#student_name').val(),
                Date: $('#exam_date').val(),
                Course: $('#course').val(),
                Module: $('#module').val(),
                Exam: $('#exam').files[0]
            }
            $.ajax({
                type: "POST",
                url: "/staff/add-exam",
                data: data,
                dataType: 'JSON',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function success(result) {
                    console.log(result);
                    window.location.href = "/staff/exam"
                },
                error: function error(error) {
                    console.log(error, 'error');
                    // $('.custom-container').noty({text: error.responseText.message});
                }
            })
        }
        function cancel() {
            window.location.reload();
        }
    </script>
</body>