<body>
    <h1>Admin Login</h1>
    <br>
    <input type="text" id="username" placeholder="username"><br><br>
    <input type="password" id="password" placeholder="password"><br><br>
    <button type="button" onclick="login()">LOGIN</button>
    <script>
        $(() => {
            window.localStorage.clear()
        })
        function login() {
            var data = {
                username: $("#username").val(),
                password: $("#password").val(),
            }
        console.log(data);
            $.ajax({                      //will initiate a post request to specified url and fetch result from that
                type: "POST",
                url: "/admin/login-admin",         //loads and executes the javaScript file associated with this route.
                dataType: 'JSON',
                data: data,
                success: function success(result) {
                    window.alert('Login Successful')
                    window.location.href = '/admin/admin-dashboard';
                },
                error: function error(error) {
                    window.alert('Invalid Credentials')
                    console.log(error)
                }
            })
        }
    </script>
</body>

