<body>
    <h2>Admin Dashboard</h2>
    <button onclick="change_password()">change password</button><br>
    <button onclick="logout()">logout</button><br>
    <!-- <label>Staff Name </label>
    <p id="staff_name"></p><br>
    <label>Empl. No. </label>
    <p id="employment_number"></p><br>
    <label>Father's Name </label>
    <p id="father_name"></p><br>
    <label>Sex </label>
    <p id="sex"></p><br>
    <label>DOB </label>
    <p id="dob"></p><br>
    <label>Marital Status </label>
    <p id="marital_status"></p><br>
    <label>Contact Number </label>
    <p id="contact_number"></p><br>
    <label>Email Id </label>
    <p id="email_id"></p><br>
    <label>Designation </label>
    <p id="designation"></p><br>
    <label>Date Of Joining </label>
    <p id="date_of_joining"></p><br> -->
    <button onclick="staff()">STAFF</button><br>
    <button onclick="course()">COURSE</button><br>
    <button onclick="enquiry()">ENQUIRY</button><br>
    <button onclick="admission()">ADMISSION</button><br>
    <script>
        var token = ""
        token = window.localStorage.getItem('token');
        $(() => {
            token = window.localStorage.getItem('token');
            fetchStaffDetails()
        })
        var data = { token: token }
        function fetchStaffDetails() {
            $.ajax({
                type: "POST",
                url: "/staff/fetch-staff-details",
                dataType: 'JSON',
                data: data,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function success(result) {
                    console.log(result);
                },
                error: function error(error) {
                    console.log(error, 'error');
                    // $('.custom-container').noty({text: error.responseText.message});
                    errorNotification(error.responseJSON.message);
                }
            })
        }
        function admission() {
            window.alert("Admission button clicked")
            window.location.href = "/admissions"
        }
    </script>
</body>