<body>
    <table style="width:100%; border:1px solid black;">
        <tr>
            <th>Enrol. No.</th>
            <th>Center Code</th>
            <th>Reg. No.</th>
            <th>Name</th>
            <th>Course</th>
            <th>DOJ</th>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>