<body>
    <h1> Exam </h1>
    <a href="/add-exam"> Add Exam </a> <br>
    <!-- <form method="get" action="/">
        <input type="radio" id="MDFAT" name="course" value="Master_Diploma_in_Financial_Accounting_and_Taxation">
        <label for="MDFAT">Master Diploma in Financial Accounting and Taxation</label><br>
        <input type="radio" id="OA" name="course" value="Office_Automation">
        <label for="OA">Office Automation</label><br>
        <input type="radio" id="ADSA" name="course" value="Advance_Diploma_in_Software_Application">
        <label for="ADSA">Advance Diploma in Software Application</label><br>
        <input type="radio" id="MDGWD" name="course" value="Master_Diploma_in_Graphic_and_WEB_Designing">
        <label for="MDGWD">Master Diploma in Graphic & WEB Designing</label><br>
        <input type="radio" id="F2A" name="course" value="Flash_2D_Animation">
        <label for="F2A">Flash 2D - Animation</label><br>
        <input type="radio" id="AC" name="course" value="Auto_Cad">
        <label for="AC">Auto Cad</label><br>
        <input type="radio" id="ADM" name="course" value="Advance_Diploma_in_Multimedia">
        <label for="ADM">Advance Diploma in Multimedia</label><br>
        <input type="radio" id="TE9" name="course" value="Tally_ERP_9">
        <label for="TE9">Tally ERP 9</label><br>
        <input type="radio" id="TE9T" name="course" value="Tally_ERP_9_with_Taxation">
        <label for="TE9T">Tally ERP 9 with Taxation</label><br>
        <input type="radio" id="AOA" name="course" value="Advance_Office_Automation">
        <label for="AOA">Advance Office Automation</label><br>
        <input type="radio" id="AEP" name="course" value="ARISE_English_Pro">
        <label for="AEP">ARISE English Pro</label><br>
        <input type="radio" id="ADHN" name="course" value="Advance_Diploma_in_Hardware_and_Networking">
        <label for="ADHN">Advance Diploma in Hardware and Networking</label><br>
        <input type="radio" id="DLR" name="course" value="Diploma_in_Laptop_Repairing">
        <label for="DLR">Diploma in Laptop Repairing</label><br>
        <input type="submit" value="Submit"> -->
    <!-- </form> -->

<table>
  <tr>
    <th>Exam Date</th>
    <th>Stu. Reg. No.</th>
    <th>Student Name</th>
    <th>Course</th>
    <th>Module</th>
    <th>View/Edit Exam</th>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
</table>
</body>