<body>
    <h1>Question_Answer_Login</h1>
    <br>
    <input type="text" id="faculty_id" placeholder="Faculty_id"><br><br>
    <input type="password" id="password" placeholder="Password"><br><br>
    <button type="button" onclick="login()">LOGIN</button>
    <script>
        function login() {
            var data = {
                faculty_id: $("#faculty_id").val(),
                password: $("#password").val(),
            }
            console.log(data);
            $.ajax({                      //will initiate a post request to specified url and fetch result from that
                type: "POST",
                url: "/staff/login-question-answer",         //loads and executes the javaScript file associated with this route.
                // beforeSend: function (xhr) {
                //     xhr.setRequestHeader("Authorization", "Bearer " + token);
                // },
                dataType: 'JSON',
                data: data,
                success: function success(result, xhr) {
                    console.log(result);
                    window.localStorage.setItem('token', result.token);
                    window.alert('Login Successful')
                    window.location.href = '/question-answer-choose';
                },
                error: function error(error) {
                    window.alert('Invalid Credentials')
                    console.log(error)
                    // window.alert(error.responseJSON.data.errors[0].message);
                }
            })
        }
    </script>
</body>