<body>
    <h1>Choose Course, Module and Topic</h1>
    <br>
    <form action="/staff/question-answer-form-2" method="get" onsubmit="next()">
        <input type="text" id="course_name" placeholder="Course_name" name="course_name"/><br><br>
        <input type="text" id="course_code" placeholder="Course_code" name="course_code"/><br><br>
        <input type="text" id="module" placeholder="Module" name="module"/><br><br>
        <input type="text" id="topic" placeholder="Topic" name="topic"/><br><br>
        <input type="submit" value="Submit"/>
    </form>
    <script>
        var token = '';
        function next() {
            token = window.localStorage.getItem('token');
            var data = {
                course_name: $("#course_name").val(),
                course_code: $("#course_code").val(),
                module: $("#module").val(),
                topic: $("#topic").val(),
            }
            console.log(data);
        }
    </script>
</body>