<body>
    <h2>Sample 2</h2>
    <label>L1</label>
    <input id="id1"></input><br>
    <label>L2</label>
    <input id="id2"></input><br>
    <label>L3</label>
    <input id="id3"></input><br>
    <label>L4</label>
    <input id="id4"></input><br>
    <label>L5</label>
    <input id="id5"></input><br>
    <label>L6</label>
    <input id="id6"></input><br>
    <button onclick="func1()">Button1</button>
    <button onclick="func2()">Button2</button>
    
    
    <script>
        var token = window.localStorage.getItem('token')
        function func1() {
            var data = {
                // Enrollment_number: $('#enrollment_number').val(),
                registration_number: $('#student_registration_number').val(),
                Student_name: $('#student_name').val(),
                Date: $('#exam_date').val(),
                Course: $('#course').val(),
                Module: $('#module').val()
            }
            $.ajax({
                type: "POST",
                url: "/staff/add-exam",
                data: data,
                dataType: 'JSON',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                },
                success: function success(result) {
                    console.log(result);
                    window.location.href="/staff/exam"
                },
                error: function error(error) {
                    console.log(error, 'error');
                    // $('.custom-container').noty({text: error.responseText.message});
                }
            })
        }
        function func2(){
            window.location.reload();
        }
    </script>
</body>
