<body>
    <h1>Staff Change Password</h1>
    <br>
    <input type="text" id="oldPassword" placeholder="oldPassword"><br><br>
    <input type="password" id="password" placeholder="password"><br><br>
    <input type="password" id="confirmPassword" placeholder="confirmPassword"><br><br>
    <button type="button" onclick="changePassword()">Change</button>
    <script>
        var token = window.localStorage.getItem('token')
        function changePassword() {
            var data = {
                token: token,
                oldPassword: $("#oldPassword").val(),
                password: $("#password").val(),
                confirmPassword: $("#confirmPassword").val(),
            }
        console.log(data);
            $.ajax({                      //will initiate a post request to specified url and fetch result from that
                type: "PUT",
                url: "/staff/change-password-staff",         //loads and executes the javaScript file associated with this route.
                dataType: 'JSON',
                data: data,
                success: function success(result) {
                    console.log(result);
                    window.alert('Password change successful')
                    window.location.href = '/staff/staff-dashboard';
                },
                error: function error(error) {
                    window.alert('Something went wrong')
                    console.log(error)
                    // window.alert(error.responseJSON.data.errors[0].message);
                }
            })
        }
    </script>
</body>

