<body>
    <h2>Staff Dashboard</h2>
    <label>Center</label>
    <p id="center"></p><br>
    <label>Staff Name </label>
    <p id="staff_name"></p><br>
    <label>Father's Name </label>
    <p id="father_name"></p><br>
    <label>Sex </label>
    <p id="sex"></p><br>
    <label>DOB </label>
    <p id="dob"></p><br>
    <label>Marital Status </label>
    <p id="marital_status"></p><br>
    <label>Contact Number </label>
    <p id="contact_number"></p><br>
    <label>Email Id </label>
    <p id="email_id"></p><br>
    <label>Designation </label>
    <p id="designation"></p><br>
    <label>Date Of Joining </label>
    <p id="date_of_joining"></p><br>
    <a href="/admission">Admissions</a>
    <a href="/staff/update-profile">Update Profile</a>
    <a href="/staff/staff-change-password">Change Password</a>
    <a href="/staff/staff-logout">Logout</a>

    <script>
        $(() => {
            fetchStaffDetails()
        })
        function fetchStaffDetails() {
            $.ajax({
                type: "POST",
                url: "/staff/fetch-staff-details",
                // beforeSend: function (xhr) {
                //     xhr.setRequestHeader("Authorization", "Bearer " + token);
                // },
                success: function success(result) {
                    console.log(result);
                    result = result.data;
                    $("#center").text(result.center);
                    $("#staff_name").text(result.Employee_Name);
                    $("#father_name").text(result.Father_Name);
                    $("#sex").text(result.Sex);
                    $("#dob").text(result.Date_of_Birth);
                    $("#marital_status").text(result.Marital_status);
                    $("#contact_number").text(result.Contact_number);
                    $("#email_id").text(result.email);
                    $("#designation").text(result.designation);
                    $("#date_of_joining").text(result.Date_of_joining);
                },
                error: function error(error) {
                    console.log(error, 'error');
                    // $('.custom-container').noty({text: error.responseText.message});
                }
            })
        }
    </script>
</body>