<body>
    <h1>Student Login</h1>
    <br>
    <input type="text" id="enrolment_number" placeholder="enrolment_number"><br><br>
    <input type="password" id="password" placeholder="password"><br><br>
    <button type="button" onclick="login()">LOGIN</button>
    <script>
        function login() {
            var data = {
                enrolment_number: $("#enrolment_number").val(),
                password: $("#password").val(),
            }
        console.log(data);
            $.ajax({                      //will initiate a post request to specified url and fetch result from that
                type: "POST",
                url: "/student/login-student",         //loads and executes the javaScript file associated with this route.
                dataType: 'JSON',
                data: data,
                success: function success(result) {
                    console.log(result);
                    window.alert('Login Successful')
                    // window.location.href = '/';
                },
                error: function error(error) {
                    window.alert('Invalid Credentials')
                    console.log(error)
                    // window.alert(error.responseJSON.data.errors[0].message);
                }
            })
        }
    </script>
</body>

